name: swift-test

on:
  push:
  pull_request:

jobs:
  swift-test:
    runs-on: macos-latest
    defaults:
      run:
        working-directory: KyounaniApp
    steps:
      - uses: actions/checkout@v4
      - name: Show Swift version
        run: swift --version
      - name: Run swift test
        run: swift test
